

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;

}

.wrapper {
  max-width:80%;
  margin: 0 auto;
}


.headLine {
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 5rem;
}


.searchForm{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}

.searchForm input {
  width: 70%;
  height: 3rem;
  border: none;
  border-bottom: 0.5rem solid black;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
}

.searchForm input:focus {
  background: black;
  color: white;
}

.searchForm button {
  color: white;
  background: black;
  border: 0.3rem solid black;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
}

.searchForm button:hover,
.searchForm button.focus {
  background: white;
  color: black;
  
}

.resultsDisplay {
  background: aliceblue;
  border-radius: 2rem;
  margin: 2rem;
  padding: 3rem 10rem;
}

.resultsDisplay h3 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  padding-top: 2rem;
}

.resultsDisplay p {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

.flexContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flexContainer img {
  border: 0.3rem solid black; 
  margin: 2rem 4rem;
  border-radius: 1%;
  width: 50%;
  height: 50%;
  
}


.ingredientList {
  width: 50%;
}

.flexContainer ul {
  font-size: 2rem;
  
}

.flexContainer ul li {
  margin: 0.5rem 0;
}

.resultsDisplay a {
  padding: 1rem;
  border: 0.2rem solid black;
  background: black;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 20%;
  margin: auto;
  text-transform: uppercase;
  border-radius: 2%;
  border: 0.1rem solid white;
}

a.topButton{
  padding: 1rem;
  border: 0.2rem solid black;
  background: black;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 20%;
  margin: auto;
  text-transform: uppercase;
  border-radius: 2%;
  border: 0.1rem solid white;
}

.resultsDisplay a:hover,
.resultsDisplay a:focus,
a.topButton:hover,
a.topButton:focus {
  background: white;
  color: black;
}